.rotate-close{
  transform: scale(1.2) rotate(540deg);
}

.close-card, a{
  cursor: pointer;
}

.card-nav > ul > li{
  cursor: pointer;
  margin: 0 11px;
}

.iq-skill{
  margin: 0 12px;
  &:hover{
    cursor: pointer;
  }
}
