<article class="page hentry">
  <header class="entry-header">
    <h1 class="entry-title">resume</h1>
  </header>
  <div class="entry-content">
    <div class="row">
      <div class="col-sm-6">
        <div class="event">
          <h2>WORK HISTORY</h2>
          <p>
            <i class="pw-icon-briefcase"></i>
          </p>
        </div>
        <div class="event">
          <h3>Sep 2018 - Current</h3>
          <h4>Senior Software Engineer</h4>
          <h5>L&T Technology Services</h5>
          <p>I work for one of the biggest healthcare client of LTTS as a full stack developer. I write codes in Angular / C# and sometimes SQL Queries too.</p>
        </div>
        <div class="event">
          <h3>Oct 2017 - Sep 2018</h3>
          <h4>Software Engineer</h4>
          <h5>Saggezza India Pvt. Ltd.</h5>
          <p>I worked as a Full stack developer at Saggezza for 1 year. I create usable web interfaces, front end coding stuff and almost anything. But i loved what i did. Took care of entire UI and SSIS/SSRS stuffs.</p>
        </div>
        <div class="event">
          <h3>Oct 2016 - Oct 2017</h3>
          <h4>Software Engineer</h4>
          <h5>Cogwave Software Technologies</h5>
          <p>I worked as a Full stack developer and handled all the front-end coding using Angular / ASP.NET MVC.</p>
        </div>
        <div class="event">
          <h3>Nov 2014 - Oct 2016</h3>
          <h4>Software Developer</h4>
          <h5>Sivasakthi Software Services Pvt. Ltd.</h5>
          <p>I worked as a Full stack developer at SSST for 2 years. I learned a lot in coding/standards/new techs. </p>
        </div>
        <div class="event">
          <h2>EDUCATION</h2>
          <p>
            <i class="pw-icon-education"></i>
          </p>
        </div>
        <div class="event">
          <h3>2009 - 2012</h3>
          <h4>MASTER OF COMPUTER APPLICATIONS</h4>
          <h5>HINDUSTHAN COLLEGE OF ENGINEERING AND TECHNOLOGIES</h5>
          <p>9.02 CGPA (Distinction)</p>
        </div>
        <div class="event">
          <h3>2006 - 2009</h3>
          <h4>BACHELOR OF COMPUTER APPLICATIONS</h4>
          <h5>SMS COLLEGE OF ARTS AND SCIENCE</h5>
          <p>77% (First Class)</p>
        </div>
        <div class="event">
          <h3>2005 - 2006</h3>
          <h4>HSC</h4>
          <h5>SN MATRICULATION HIGHER SECONDARY SCHOOL</h5>
          <p>79.25% (First Class)</p>
        </div>
        <div class="event">
          <h3>2003 - 2004</h3>
          <h4>SSLC</h4>
          <h5>SN MATRICULATION HIGHER SECONDARY SCHOOL</h5>
          <p>74.25% (First Class)</p>
        </div>
        <p><a href="#" class="button  primary"><i class="pw-icon-doc-alt"></i>Download CV</a></p>
      </div>
      <div class="col-sm-6">
        <div class="section-title center">
          <h2>
            <i>coding skills</i>
          </h2>
        </div>
        <app-progress-bar *ngFor="let skill of skills" [skillset]="skill"></app-progress-bar>
        <div class="section-title center">
          <h2>
            <i>TESTIMONIALS</i>
          </h2>
        </div>
        <app-testimonial *ngFor="let testimonial of testimonials" [testimonial]="testimonial"></app-testimonial>
      </div>
    </div>
  </div>
</article>
