<article class="page hentry">
  <header class="entry-header">
    <h1 class="entry-title">the blog (Work in progress)</h1>
  </header>
  <div class="entry-content">
    <div class="latest-posts media-grid masonry" data-layout="masonry" data-item-width="340">
      <article class="hentry media-cell" *ngFor="let post of blogPosts">
        <div class="media-box">
          <img [src]="post.featured_media" alt="post-image">
          <div class="mask"></div>
          <span class="media-date">
            <span class="day">{{post.date.format('DD')}}</span>
            <span class="month">{{post.date.format('MMM')}}</span>
          </span>
          <a [href]="post.featured_media"></a>
        </div>
        <header class="media-cell-desc">
          <span class="cat-links">
            <span *ngFor="let category of post.categories">
              <a [href]="post.featured_media" rel="category tag">{{category}}</a><span *ngIf="post.categories.length>1">,</span>
            </span>
          </span>
          <h3>
            <a href="#">{{post.title}}</a>
          </h3>
        </header>
      </article>
    </div>
    <p class="launch">
      <a class="button primary" href="#">SEE ALL POSTS</a>
    </p>
  </div>
</article>
